@page
@model BookStore_olsenj8.Pages.PurchaseCompletedModel
@{
}

@*A simple confirmation page with a button to return home*@

<div class="text-center">
    <h2>Thank you! Your order has been confirmed.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
