
@{
}

@*Here we are adding the navbar context, which will show the price and quantity of the cart items*@
@*We also link the shopping cart logo to back to the Buy page, where they can see their full cart*@

@model Cart
<div class="">
    @if (Model.Items.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Items.Sum(x => x.Quantity) item(s)
            @Model.CalculateTotal().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary" asp-page="/Buy" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
